body {
	background-image: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(253, 187, 45, 1) 100%
	);
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#highScoresList {
	list-style: none;
	margin-bottom: 4rem;
}

.highScore {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
}

.btn {
	background-color: #ffffff;
	border: none;
	color: #858585;
	text-decoration: none;
	cursor: pointer;
	text-align: justify;
	font-size: 15px;
	position: relative;
	flex-wrap: wrap;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 2px;
}

.btn:hover {
	cursor: pointer;
	color: #ffffff;
	background-color: #d6d6d6;
	transition: transform 150ms;
	transform: scale(1.03);
}

.btn[disabled]:hover {
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}
